{%- from "header/macro.njk" import header -%}
{%- from "footer/macro.njk" import footer -%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{ title }} - NHS {{ serviceName }}</title>

  <link rel="stylesheet" href="/assets/application.css">
  <link rel="shortcut icon" href="/assets/favicons/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="/assets/favicons/apple-touch-icon.png">
  <link rel="mask-icon" href="/assets/favicons/favicon.svg" color="#005eb8">
  <link rel="icon" href="/assets/favicons/favicon.png">

  <meta property="og:title" content="{% if title %}{{ title }} - {{ serviceName }}{% else %}{{ serviceName }}{% endif %}">
  <meta property="og:description" content="{% if description %}{{ description }}{% else %}{{ pkg.description }}{% endif %}">
  <meta property="og:type" content="website">
  <meta property="og:locale" content="en_GB">
  <meta property="og:image" content="/assets/logos/open-graph.png">
</head>

<body>
  <a class="nhsuk-skip-link" href="#maincontent">Skip to main content</a>

  {{ header({
    service: { name: serviceName },
    showNav: false,
    showSearch: false
  }) }}

  {% block main %}
  <div class="nhsuk-width-container">
    {% block beforeContent %}{% endblock %}
    <main class="nhsuk-main-wrapper" id="maincontent" role="main">

    {% block content %}
      {{ content | safe }}
    {% endblock %}
    </main>
  </div>
  {% endblock %}

  {{ footer() }}
</body>
</html>
