{% extends "default.njk" %}

{% from "action-link/macro.njk" import actionLink %}
{% from "hero/macro.njk" import hero %}

{% block main %}
  {{ hero({
    heading: title,
    text: description
  }) }}

  <div class="nhsuk-width-container ">
    {% block beforeContent %}{% endblock %}
    <main class="nhsuk-main-wrapper" id="maincontent" role="main">

    <div class="nhsuk-u-reading-width">
    {% block content %}
      {{ content | safe }}

      {{ actionLink({
        text: "User guide: How to use the service",
        href: "/organisation-settings"
      }) }}

      <p>
        To access the service, visit <a href="https://www.manage-vaccinations-in-schools.nhs.uk">www.manage-vaccinations-in-schools.nhs.uk</a>.
      </p>
    {% endblock %}
    </div>

    </main>
  </div>
{% endblock %}
