{% extends "default.njk" %}

{% from "breadcrumb/macro.njk" import breadcrumb %}
{% from "pagination/macro.njk" import pagination %}
{% from "contents-list/macro.njk" import contentsList %}

{% set previous = collections.guide | getPreviousCollectionItem %}
{% set next = collections.guide | getNextCollectionItem %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        href: "/",
        text: "Home"
      }
    ],
    href: parent.url,
    text: parent.data.title
  }) if parent }}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-quarter">
    <nav class="app-side-nav">
    {% for group, items in collections.guide | groupby("data.group") %}
      <h2 class="app-side-nav__heading">{{ group }}</h2>
      {{ items | eleventyNavigation | eleventyNavigationToHtml({
        listClass: "nhsuk-list app-side-nav__list",
        listItemClass: "app-side-nav__item",
        activeListItemClass: "app-side-nav__item app-side-nav__item--current",
        anchorClass: "app-side-nav__link",
        activeKey: eleventyNavigation.key
      }) | safe }}
    {% endfor %}
    </nav>
  </div>

  <div class="nhsuk-grid-column-three-quarters">
    <div class="nhsuk-u-reading-width">
      <h1 class="nhsuk-heading-xl">
        <span class="nhsuk-caption-xl">{{ group }}</span>
        {{ title }}
      </h1>

      {{ content | safe }}

      {{ pagination({
        previousUrl: previous.url if previous,
        previousPage: previous.data.eleventyNavigation.key if previous,
        nextUrl: next.url if next,
        nextPage: next.data.eleventyNavigation.key if next
      }) }}
    </div>
  </div>
</div>
{% endblock %}
