{% extends "default.njk" %}

{% from "breadcrumb/macro.njk" import breadcrumb %}
{% from "pagination/macro.njk" import pagination %}
{% from "contents-list/macro.njk" import contentsList %}

{% set previous = collections.video | getPreviousCollectionItem %}
{% set next = collections.video | getNextCollectionItem %}

{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-quarter">
    <nav class="app-side-nav">
      {{ collections.video | eleventyNavigation | eleventyNavigationToHtml({
        listClass: "nhsuk-list app-side-nav__list",
        listItemClass: "app-side-nav__item",
        activeListItemClass: "app-side-nav__item app-side-nav__item--current",
        anchorClass: "app-side-nav__link",
        activeKey: eleventyNavigation.key
      }) | safe }}
    </nav>
  </div>

  <div class="nhsuk-grid-column-three-quarters">
    <div class="nhsuk-u-reading-width">
      <h1 class="nhsuk-heading-xl">
        <span class="nhsuk-caption-xl">{{ sectionName }}</span>
        {{ title }}
      </h1>

      <div class="app-video">
        <iframe src="https://player.vimeo.com/video/{{ vimeoId }}?autopause=0&amp;byline=false&amp;colors=[212b32,005eb8,FFFFFF,4c6272]&amp;responsive=true&amp;title=false&amp;vimeo_logo=false{% if vimeoHash %}&amp;h={{ vimeoHash }}{% endif %}" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" title="{{ title }}" loading="lazy" class="app-video__iframe"></iframe>
        <script src="https://player.vimeo.com/api/player.js"></script>
      </div>

      {{ content | safe }}

      {{ pagination({
        previousUrl: previous.url if previous,
        previousPage: previous.data.eleventyNavigation.key if previous,
        nextUrl: next.url if next,
        nextPage: next.data.eleventyNavigation.key if next
      }) }}
    </div>
  </div>
</div>
{% endblock %}
