@use "nhsuk-frontend/packages/nhsuk" as *;

.app-attachment {
  @include nhsuk-responsive-margin(6, "bottom");
}

.app-attachment__link {
  @include nhsuk-font(22);

  display: inline-block;
  font-weight: $nhsuk-font-bold;
  position: relative;
  text-decoration: none;

  &:hover {
    .app-attachment__text {
      text-decoration: underline;
    }
  }

  &:focus {
    @include nhsuk-focused-text();

    &:hover {
      .app-attachment__text {
        color: $nhsuk-focus-text-color;
        text-decoration: none;
      }
    }
  }

  @include mq($media-type: print) {
    color: $nhsuk-print-text-color;

    &:visited {
      color: $nhsuk-print-text-color;
    }
  }

  .app-icon__file {
    @include print-color($nhsuk-print-text-color);

    fill: $color_nhsuk-grey-2;
    height: 36px;
    left: -3px;
    position: absolute;
    top: -4px;
    width: 36px;

    @include mq($until: tablet) {
      height: 24px;
      width: 24px;
      top: 0;
    }
  }
}

.app-attachment__summary {
  color: $nhsuk-secondary-text-color;
}

.app-attachment__link,
.app-attachment__summary {
  padding-left: nhsuk-spacing(6);

  @include mq($until: tablet) {
    padding-left: nhsuk-spacing(4);
  }
}
